$white: #FFFFFF;
$orange: #eeb501;
$black: #000;
$activ-botton-opacity: rgba(0, 112, 237, 0.6);
$activ-botton: #0070ed;
$blue-clear: #1db1ae;
$border-opacity: rgba(236, 238, 240, 0);
$background-opacity: rgba(0, 0, 0, 0.149);
$red-coral: #f35f52;
$grey: #8c8c8c;
$grey-light: #efefef;
$green-light: #95e7d1;
