/* ------------ footer --------------- */
.footer{
  background-color: $black;
} 

.lower {
    &__info-use {
        display: flex;
        justify-content: center;
        align-items: center;      
        &_logo-icon{
           padding-right: 5px;
           padding-left: 5px;
            color: $white;
        }
        &_text-rows {
        	&_text-link {
                @extend %for-p;
                @extend %for-a;
                       
            }
            &_lines {
            	border-bottom: 1px solid $grey-dark;
            }        
            &_text-more {            	
            	
        	    &_specials {
        	    	@extend %for-a;
					@extend %for-p;
					color: $grey-clear;
					
					font-family: 'OpenSans-Light';
					font-size: 13px;
					
        	    }
        	    &_webs {


        	    }
        	}    
        } 
    }
}    


.icon-quotes {

}  
    
.web-icon {
	@extend %for-a;
	color: $grey-clear;
} 

/* ------ media query ------ */
@include laptop {
  
}

@include tablet {
  
}

@include phone {
  
}

@include iphone {
  
}

@include mobile {
  
}
