/* ------------ section-5 --------------- */
.section-5 {  
    background-color: $blue-clear;
}

.carousel {
	padding-top: 80px;
	&__boks{	
	    &_tops {
		    @extend %for-h3;
		    text-transform: uppercase;
		    padding-bottom: 75px;
		    line-height: 33px;
		    color: $white;
	    }
	    &_comment {
		    display: flex;		    
		    &_info {		    	
		    	display: flex;
                justify-content: space-around;
                    padding-bottom: 80px;
		    }
	    }
	}    
}

.performance {
    width: 26%;
}



.text-about {
	@extend %for-p;	
	font: {
		family: 'OpenSans-Light';
		size: 18px;
	}
	color: $white;
	line-height: 24px;
	text-align: center;
	padding-left: 6px;
    padding-right: 6px;
	padding-bottom: 25px;
}

.toggle-left {
	padding-top: 120px;
	&__up-line {
	    width: 36px;
	    height: 3px;
	    background-color: $white;
        transform: rotate(135deg);
    }
    &__down-line {
	    width: 36px;
	    height: 3px;
	    margin-top: 21px;        
        background-color: $white;
        transform: rotate(-135deg);
    }
}

.toggle-right {	
	padding-top: 120px;
	&__up-line {
	    width: 36px;
	    height: 3px;	    
        background-color: $white;
        transform: rotate(45deg);
    }
    &__down-line {
	    width: 36px;
	    height: 3px;
	    margin-top: 21px;        
        background-color: $white;
        transform: rotate(-45deg);
    }
}

.band {
	width: 270px;
	margin: 0 auto;
    padding-bottom: 20px;
	&__horiz {
        width: 270px;
	    height: 2px;
	    background-color: $white;
	}
	&__comp {
		display: flex;
        justify-content: space-between;
	    &_vert-left {
		    width: 2px;
	        height: 10px;
	        background-color: $white;	   
	        text-align: left;
	        margin-top: -10px;
	    }
	    &_vert-right {
		    width: 2px;
	        height: 10px;
	        background-color: $white;	    
	        text-align: right;
	        margin-top: -10px;
	    }
	    &_vert-center {
		    width: 2px;
	        height: 20px;
	        background-color: $white;	    
	        text-align: center;
	    }
	}
}

.tor {
	width: 90px;
	height: 90px;
	border: 2px solid $white;     
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;    
}

.person-man {
	margin-top: -58px;
    margin-left: -37px;
}

.person-woman {
	margin-left: -78px;
}
.firm {

}

.text-names {
    text-align: center;
    padding-top: 10px;
    @extend %for-p;	
	font-size: 16px;	
	color: $white;
}

.text-dates {
	@extend %for-p;	
	font: {
		family: 'OpenSans-Light';
		size: 14px;
	}
	color: $white;
    text-align: center;
}

/* ------ media query ------ */
@include laptop {
  
}

@include tablet {
  
}

@include phone {
  
}

@include iphone {
  
}

@include mobile {
  
}
