/* ------------ section-2 --------------- */
.section-2 {
  
}

.hotels {
	padding-top: 60px;
    padding-bottom: 0;
    &__names {
    	display: flex;
    	&_visits {
            overflow: hidden;
            height: 180px;
    	}
    }
}

    

.text-topic {
	@extend %for-h3;
	padding-bottom: 57px;
}

.three {
    margin-top: -140px;
}

.types {
	@extend %for-p;
	font-size: 18px;
	color: $blue-clear;
}

.places {
	@extend %for-p;
	font-size: 15px;
	color: $black;
}

.lich {
	@extend %for-p;
	font-size: 11px;
	color: $grey;
}

/* ------ media query ------ */
@include laptop {
  
}

@include tablet {
  
}

@include phone {
  
}

@include iphone {
  
}

@include mobile {
  
}
