/* ------------ section-1 --------------- */
.section-1 {
   background-image: url("../img/main.png");
   background-size: cover;
}

.general-page {
  padding-top: 193px;
  padding-bottom: 140px;
  &__text {
    &_topic{
      @extend %for-h1;
      padding-bottom: 30px;
    }
    &_main {
      @extend %for-p;
      font:{
        family: 'OpenSans-Regular';
        size: 20px;
      }
      line-height: 26px;
      color: $white;
      padding-bottom: 50px; 
    }
    &_btns {
      font:{
        family: 'NexaLight';
        size: 14px;
        weight: $bold;
      }
      text-transform: uppercase;
      color: $white;
      background-color: $background-opacity;
      border: 2px solid $white;    
      padding: 14px 22px;
      border-radius: 3px;
      @extend %for-a;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.forms {
  padding-bottom: 22px;
}

.clicks {
  @extend %for-a;
  text-decoration: underline;
  color: $white;
}

/* ------ media query ------ */
@include laptop {
  
}

@include tablet {
  
}

@include phone {
  
}

@include iphone {
  
}

@include mobile {
  
}

  