/* ------------ section-1 --------------- */
.section-1 {
   background-image: url("../img/main.png");
   background-size: cover;
}

.general-page {
  padding-top: 193px;
  padding-bottom: 140px;
  &__text {
    &_topic{
      @extend %for-h1;
      padding-bottom: 30px;
    }
    &_main {
      @extend %for-p;
      font:{
        family: 'OpenSans-Regular';
        size: 20px;
      }
      line-height: 26px;
      color: $white;
      padding-bottom: 50px; 
    }
    &_btns {
      font:{
        family: 'NexaLight';
        size: 14px;
        weight: $bold;
      }
      text-transform: uppercase;
      color: $white;
      background-color: $background-opacity;
      border: 2px solid $white;    
      padding: 14px 22px;
      border-radius: 3px;
      @extend %for-a;
      &:hover {
        color: $white;
        text-decoration: none;
      }
    }
  }
}

.forms {
  padding-bottom: 22px;
}

.clicks {
  @extend %for-a;
  text-decoration: underline;
  color: $white;
}

/* forms */

.inputs-group {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.inputs-left {
  padding-left: 0;
  padding-right: 0;
}

.inputs-right {  
  padding-left: 0;
  padding-right: 0;  
}  

.form-control {
  line-height: 35px;     
  width: 100%;    
  border-radius: 0px 3px 3px 0px;
  padding: 24px 12px;
  /* width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  line-height: 24px;
  background-color: #fff;
  background-image: none;
  border-left: 1px solid $grey;
  border-radius: 0px 3px 3px 0px; */
} 

.fname {
    width: 100%;
    padding: 15px 12px;
    border: none;
    border-radius: 3px 0px 0px 3px;
    /* width: 100%;
    padding: 9px 12px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 3px 0px 0px 3px; */
}

.searchs[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#googleMap {
  display: none;
  width:100%;
  height:400px;
}

/* ------ media query ------ */
@include laptop {
  
}

@include tablet {
  
}

@include phone {
  
}

@include iphone {
  
}

@include mobile {
  
}

  