html, body {
  font-family: 'Open Sans', sans-serif;
}


.container {  
 
}

.row {
  margin-right: 0;
  margin-left: 0;
}



.clearfix::after {
	display: block;
	content: "";
	clear: both;
}

%for-a {
	a {		
		color: $white;
        text-decoration: none;
	}  
    a:hover {
        color: $white;
        text-decoration: none;
    }
       
}

%for-p {
	font:{
        family: 'OpenSans-Regular';
		    size: 16px;
  }
	color: $black;
	margin-bottom: 0;
	line-height: 20px;
}

%for-span {
    font: {
        family: 'OpenSans-Regular', serif;
        size: 18px;	
	}  
}

%for-h1 {
	font:{
     family: 'NexaBold';
	   size: 42px;
	   weight: $bold;
    }
    text-transform: uppercase;
    line-height: 44px;
    color: $white;
    margin: 0;
}

%for-h2 {
	font:{
      family: 'NexaBold';
	    size: 40px;
	    weight: $bold;
    }
    text-transform: uppercase;
    line-height: 45px;
    letter-spacing: 6px;
    margin-bottom: 0;
    margin-top: 0;
    color: $white;
}

%for-h3 {
	font:{
     family: 'NexaBold';
	   size: 30px;	
	   weight: $bold;
    }
    line-height: 33px;
    margin-bottom: 0;
    margin-top: 0;
    color: $black;
}

%for-buttons {
	font:{
      family: 'NexaBold';
	    size: 13px;
	}
  text-transform: uppercase;
  color: $white;
  padding: 12px 30px;
  background-color: $blue-clear;
  border-radius: 19px;
  margin-bottom: 0;
}


%for-ul {
    ul:after {
        display: block;
        content: ' ';
        clear: both;
        float: none;
    }
}


%for-topic {
  @extend %for-h2;
  padding-left: 0;
  padding-bottom: 60px;
}
%for-info-text {
  @extend %for-p;
  font-size: 16px;
  clear: both;
}




@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 992px) and (max-width: 1199.98px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 768px) and (max-width: 991.98px) {
    @content;
  }
}  
@mixin phone {
  @media (min-width: 576px) and (max-width: 767.98px) {
    @content;
  }
} 
@mixin iphone {
  @media (min-width: 320px) and (max-width: 575.98px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 319.98px) {
    @content;
  }
}