@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'OpenSans-SemiBoldItalic';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'NexaLight';
  src: url("../Nexa-Heavy/nexa_light.ttf");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'NexaBold';
  src: url("../Nexa-Heavy/nexa_bold.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'NEXA-HEAVY-ITALIC';
  src: url("../fonts/NEXA-HEAVY-ITALIC.ttf");
  font-style: normal;
  font-weight: 400; }
html, body {
  font-family: 'Open Sans', sans-serif; }

.row {
  margin-right: 0;
  margin-left: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.nav__menu_menu-li a, .buttons__menu-btn a, .general-page__text_btns a, .clicks a {
  color: #FFFFFF;
  text-decoration: none; }
.nav__menu_menu-li a:hover, .buttons__menu-btn a:hover, .general-page__text_btns a:hover, .clicks a:hover {
  color: #FFFFFF;
  text-decoration: none; }

.general-page__text_main, .types, .places, .lich {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
  line-height: 20px; }

.general-page__text_topic {
  font-family: 'NexaBold';
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 44px;
  color: #FFFFFF;
  margin: 0; }

.text-topic {
  font-family: 'NexaBold';
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000; }

.buttons {
  font-family: 'NexaBold';
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 30px;
  background-color: #1db1ae;
  border-radius: 19px;
  margin-bottom: 0; }

.nav__menu ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none; }

.header-top {
  padding-top: 20px;
  padding-bottom: 20px; }

.header {
  background-color: none;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 6;
  top: 0; }

.nav__menu {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'NexaBold';
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 15px;
  padding-left: 95px; }

.nav__menu_menu-li {
  display: flex; }
  .nav__menu_menu-li:hover {
    color: #FFFFFF;
    text-decoration: none; }

.buttons__menu-btn {
  display: flex;
  justify-content: space-between;
  color: #FFFFFF; }
  .buttons__menu-btn_menu-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #f35f52;
    border-radius: 50%;
    position: absolute;
    width: 19px;
    height: 19px;
    font-family: 'NexaBold';
    font-size: 13px; }

/* ------ media query ------ */
/* ------------ section-1 --------------- */
.section-1 {
  background-image: url("../img/main.png");
  background-size: cover; }

.general-page {
  padding-top: 193px;
  padding-bottom: 140px; }
  .general-page__text_topic {
    padding-bottom: 30px; }
  .general-page__text_main {
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 50px; }
  .general-page__text_btns {
    font-family: 'NexaLight';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.149);
    border: 2px solid #FFFFFF;
    padding: 14px 22px;
    border-radius: 3px; }
    .general-page__text_btns:hover {
      color: #FFFFFF;
      text-decoration: none; }

.forms {
  padding-bottom: 22px; }

.clicks {
  text-decoration: underline;
  color: #FFFFFF; }

/* ------ media query ------ */
/* ------------ section-2 --------------- */
.hotels {
  padding-top: 60px;
  padding-bottom: 0; }
  .hotels__names {
    display: flex; }
    .hotels__names_visits {
      overflow: hidden;
      height: 180px; }

.text-topic {
  padding-bottom: 57px; }

.three {
  margin-top: -140px; }

.types {
  font-size: 18px;
  color: #1db1ae; }

.places {
  font-size: 15px;
  color: #000; }

.lich {
  font-size: 11px;
  color: #8c8c8c; }

/* ------ media query ------ */
/* ------------ section-3 --------------- */
/* ------ media query ------ */
/* ------------ section-4 --------------- */
/* ------ media query ------ */
/* ------ media query ------ */
/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- section-1 -------- */
/* -------- section-2 -------- */
/* -------- section-3 -------- */
/* -------- section-4 -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */
