@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'OpenSans-BoldItalic';
  src: url("../fonts/OpenSans-BoldItalic.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'OpenSans-ExtraBold';
  src: url("../fonts/OpenSans-ExtraBold.ttf");
  font-style: normal;
  font-weight: 800; }
@font-face {
  font-family: 'OpenSans-Italic';
  src: url("../fonts/OpenSans-Italic.ttf");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans-Light';
  src: url("../fonts/OpenSans-Light.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'OpenSans-LightItalic';
  src: url("../fonts/OpenSans-LightItalic.ttf");
  font-style: italic;
  font-weight: 300; }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
  font-weight: 400; }
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/OpenSans-SemiBold.ttf");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'OpenSans-SemiBoldItalic';
  src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
  font-style: normal;
  font-weight: 600; }
@font-face {
  font-family: 'NexaLight';
  src: url("../Nexa-Heavy/nexa_light.ttf");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'NexaBold';
  src: url("../Nexa-Heavy/nexa_bold.ttf");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: 'NEXA-HEAVY-ITALIC';
  src: url("../fonts/NEXA-HEAVY-ITALIC.ttf");
  font-style: normal;
  font-weight: 400; }
html, body {
  font-family: 'Open Sans', sans-serif; }

.row {
  margin-right: 0;
  margin-left: 0; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

.nav__menu_menu-li a, .buttons__menu-btn a, .general-page__text_btns a, .clicks a, .lower__info-use_text-rows_text-link a, .text-other a, .web-icon a {
  color: #FFFFFF;
  text-decoration: none; }
.nav__menu_menu-li a:hover, .buttons__menu-btn a:hover, .general-page__text_btns a:hover, .clicks a:hover, .lower__info-use_text-rows_text-link a:hover, .text-other a:hover, .web-icon a:hover {
  color: #FFFFFF;
  text-decoration: none; }

.general-page__text_main, .types, .places, .lich, .tim, .text-pr, .tm, .text-about, .text-names, .text-dates, .lower__info-use_text-rows_text-link, .lower__info-use_text-rows_text-more_specials {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
  line-height: 20px; }

.general-page__text_topic {
  font-family: 'NexaBold';
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 44px;
  color: #FFFFFF;
  margin: 0; }

.text-topics {
  font-family: 'NexaBold';
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  margin-bottom: 0;
  margin-top: 0;
  color: #FFFFFF; }

.text-topic, .kg, .nr, .carousel__boks_tops {
  font-family: 'NexaBold';
  font-size: 30px;
  font-weight: 700;
  line-height: 33px;
  margin-bottom: 0;
  margin-top: 0;
  color: #000; }

.buttons, .mini-btn {
  font-family: 'NexaBold';
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 12px 18px;
  background-color: #1db1ae;
  border-radius: 19px;
  margin-bottom: 0; }

.nav__menu ul:after {
  display: block;
  content: ' ';
  clear: both;
  float: none; }

.header-top {
  padding-top: 20px;
  padding-bottom: 20px; }

.header-top {
  padding-left: 0;
  padding-right: 0; }

.header {
  background-color: none;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 6;
  top: 0; }

.nav__menu {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'NexaBold';
  font-size: 13px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 15px;
  padding-left: 95px; }

.nav__menu_menu-li {
  display: flex; }
  .nav__menu_menu-li:hover {
    color: #FFFFFF;
    text-decoration: none; }

.buttons {
  display: flex; }
  .buttons__menu-btn {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 4px; }
  .buttons__menu-icons {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #f35f52;
    border-radius: 50%;
    width: 19px;
    height: 19px;
    font-family: 'NexaBold';
    font-size: 13px; }

/* ------ media query ------ */
/* ------------ section-1 --------------- */
.section-1 {
  background-image: url("../img/main.png");
  background-size: cover; }

.general-page {
  padding-top: 193px;
  padding-bottom: 140px; }
  .general-page__text_topic {
    padding-bottom: 30px; }
  .general-page__text_main {
    font-family: 'OpenSans-Regular';
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 50px; }
  .general-page__text_btns {
    font-family: 'NexaLight';
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.149);
    border: 2px solid #FFFFFF;
    padding: 14px 22px;
    border-radius: 3px; }
    .general-page__text_btns:hover {
      color: #FFFFFF;
      text-decoration: none; }

.forms {
  padding-bottom: 22px; }

.clicks {
  text-decoration: underline;
  color: #FFFFFF; }

/* forms */
/* ------ media query ------ */
/* ------------ section-2 --------------- */
.section-2 {
  background-color: #efefef; }

.hotels {
  padding-left: 0;
  padding-right: 0;
  padding-top: 60px;
  padding-bottom: 60px; }
  .hotels__names {
    display: flex; }
    .hotels__names_visits {
      position: relative;
      overflow: hidden;
      padding-right: 12px;
      padding-left: 12px; }
      .hotels__names_visits_second {
        overflow: hidden;
        height: 180px; }
      .hotels__names_visits_ic {
        position: absolute;
        z-index: 2;
        top: 150px;
        padding-left: 106px; }
      .hotels__names_visits_titles {
        background-color: #FFFFFF;
        padding-bottom: 35px; }

.up {
  height: 180px; }

.text-topic {
  padding-bottom: 57px; }

.three {
  margin-top: -140px; }

.types {
  font-size: 16px;
  color: #1db1ae;
  padding-top: 50px; }

.places {
  font-size: 13px;
  color: #000; }

.lich {
  font-size: 11px;
  color: #8c8c8c;
  padding-bottom: 18px; }

.lines {
  border-bottom: 1px solid #8c8c8c; }

.kg {
  font-family: 'OpenSans-Bold';
  font-size: 20px;
  line-height: 22px;
  padding-top: 18px; }

.tim {
  font-size: 11px;
  color: #8c8c8c;
  padding-bottom: 28px; }

.mini-btn {
  padding: 8px 24px;
  font-family: 'OpenSans-Regular';
  font-size: 11px; }

/* ------ media query ------ */
/* ------------ section-3 --------------- */
.section-3 {
  background-color: #95e7d1; }

.notice {
  padding-top: 153px;
  padding-bottom: 100px; }
  .notice__episode {
    display: flex;
    justify-content: space-around; }
    .notice__episode_text-basis {
      width: 38%; }

.text-topics {
  font-size: 40px;
  line-height: 40px;
  padding-top: 80px;
  padding-bottom: 30px; }

.text-pr {
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px; }

/* ------ media query ------ */
/* ------------ section-4 --------------- */
.toddler__dash_format {
  display: flex;
  justify-content: space-around;
  padding-bottom: 32px; }
  .toddler__dash_format_units {
    text-align: center; }

.toddler__dash_station {
  width: 83%;
  margin: 0 auto; }
  .toddler__dash_station_st {
    position: relative;
    border-bottom: 2px solid #efefef;
    margin-top: 48px; }
    .toddler__dash_station_st_point {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      position: absolute;
      z-index: 3;
      top: -4px;
      background-color: #1db1ae; }

.nr {
  text-transform: uppercase;
  padding-top: 25px; }

.tm {
  color: #8c8c8c; }

/* ------ media query ------ */
/* ------------ section-5 --------------- */
.section-5 {
  background-color: #1db1ae; }

.carousel {
  padding-top: 80px; }
  .carousel__boks_tops {
    text-transform: uppercase;
    padding-bottom: 75px;
    line-height: 33px;
    color: #FFFFFF; }
  .carousel__boks_comment {
    display: flex; }

.performance {
  width: 25%; }

/* ---- slider ---- */
.img {
  display: none;
  padding-bottom: 80px; }

.img.curry {
  display: flex;
  justify-content: space-around; }

.img:first-child {
  width: 100%; }

.img:nth-child(2) {
  width: 100%; }

.img:nth-child(3) {
  width: 100%; }

.text-about {
  font-family: 'OpenSans-Light';
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 25px; }

.toggle-left {
  padding-top: 120px; }
  .toggle-left__up-line {
    width: 36px;
    height: 3px;
    background-color: #FFFFFF;
    transform: rotate(135deg); }
  .toggle-left__down-line {
    width: 36px;
    height: 3px;
    margin-top: 21px;
    background-color: #FFFFFF;
    transform: rotate(-135deg); }

.toggle-right {
  padding-top: 120px; }
  .toggle-right__up-line {
    width: 36px;
    height: 3px;
    background-color: #FFFFFF;
    transform: rotate(45deg); }
  .toggle-right__down-line {
    width: 36px;
    height: 3px;
    margin-top: 21px;
    background-color: #FFFFFF;
    transform: rotate(-45deg); }

.band {
  width: 270px;
  margin: 0 auto;
  padding-bottom: 20px; }
  .band__horiz {
    width: 270px;
    height: 2px;
    background-color: #FFFFFF; }
  .band__comp {
    display: flex;
    justify-content: space-between; }
    .band__comp_vert-left {
      width: 2px;
      height: 10px;
      background-color: #FFFFFF;
      text-align: left;
      margin-top: -10px; }
    .band__comp_vert-right {
      width: 2px;
      height: 10px;
      background-color: #FFFFFF;
      text-align: right;
      margin-top: -10px; }
    .band__comp_vert-center {
      width: 2px;
      height: 20px;
      background-color: #FFFFFF;
      text-align: center; }

.tor {
  width: 90px;
  height: 90px;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto; }

.person-man {
  margin-top: -58px;
  margin-left: -37px; }

.person-woman {
  margin-left: -78px; }

.text-names {
  text-align: center;
  padding-top: 10px;
  font-size: 16px;
  color: #FFFFFF; }

.text-dates {
  font-family: 'OpenSans-Light';
  font-size: 14px;
  color: #FFFFFF;
  text-align: center; }

/* ------ media query ------ */
/* ------------ footer --------------- */
.footer {
  background-color: #000; }

.lower__info-use {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px; }
  .lower__info-use_logo-icon {
    padding-right: 5px;
    padding-left: 5px;
    color: #FFFFFF; }
  .lower__info-use_text-rows_text-link {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px; }
  .lower__info-use_text-rows_lines {
    border-bottom: 1px solid #4c4c4c; }
  .lower__info-use_text-rows_text-more {
    display: flex;
    padding-top: 10px; }
    .lower__info-use_text-rows_text-more_specials {
      display: flex;
      justify-content: space-between;
      padding-left: 0;
      font-family: 'OpenSans-Regular';
      font-size: 12px;
      font-weight: 600; }
    .lower__info-use_text-rows_text-more_webs {
      padding-right: 0;
      display: flex;
      justify-content: space-between; }

.base-info {
  font-family: 'NexaLight';
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase; }

.icon-quotes {
  color: #1db1ae; }

.text-other {
  color: #909393; }

.web-icon {
  color: #909393; }

/* ------ media query ------ */
/* -------- fonts -------- */
/* -------- colors -------- */
/* -------- variables -------- */
/* -------- header -------- */
/* -------- section-1 -------- */
/* -------- section-2 -------- */
/* -------- section-3 -------- */
/* -------- section-4 -------- */
/* -------- section-5 -------- */
/* -------- footer -------- */

/*# sourceMappingURL=style.css.map */
